  <div class="card">
    <div class="card-header">
        BIGRAM
      </div>
    <div class="card-img">
 <img src="../../assets/6.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
        TRIGRAM
      </div>
    <div class="card-img">
 <img src="../../assets/8.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
        4-GRAM
      </div>
    <div class="card-img">
 <img src="../../assets/7.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>

  
  <div class="card">
    <div class="card-header">
      LEXICAL DISPERSION PLOT
      </div>
    <div class="card-img">
 <img src="../../assets/9.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      LEXICAL DISPERSION PLOT
      </div>
    <div class="card-img">
 <img src="../../assets/10.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
        LEXICAL DISPERSION PLOT
      </div>
    <div class="card-img">
 <img src="../../assets/11.jpeg" style = "width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
        Header
      </div>
    <div class="card-img">
 <img src="../../assets/1.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
        Header
      </div>
    <div class="card-img">
 <img src="../../assets/2.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
        Header
      </div>
    <div class="card-img">
 <img src="../../assets/3.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>
  
  
  <div class="card">
    <div class="card-header">
        Header
      </div>
    <div class="card-img">
 <img src="../../assets/4.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
        Header
      </div>
    <div class="card-img">
 <img src="../../assets/5.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
      </p>
    </div>
  </div>
  
  
  