  <div class="card">
    <div class="card-header">
        BI-GRAM FREQUENCIES (SPANISH)
      </div>
    <div class="card-img">
 <img src="../../assets/6.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Frequency Analysis portrays the most frequently co-occuring phrases in the collected discourse. 
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      TRI-GRAM FREQUENCIES (SPANISH)
      </div>
    <div class="card-img">
 <img src="../../assets/8.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Frequency Analysis portrays the most frequently co-occuring phrases in the collected discourse.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      QUAD-GRAM FREQUENCIES (SPANISH)
      </div>
    <div class="card-img">
 <img src="../../assets/7.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Frequency Analysis portrays the most frequently co-occuring phrases in the collected discourse. 
      </p>
    </div>
  </div>

  
  <div class="card">
    <div class="card-header">
      LEXICAL DISPERSION PLOTS (Attitude towards POLITICAL RHETORIC)
      </div>
    <div class="card-img">
 <img src="../../assets/9.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lexical Dispersion Plot is a measure of how frequently a word appears across the parts of a corpus. 
        Here, the dispersion focuses on the political aspects in the discourse.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      LEXICAL DISPERSION PLOT (Attitude towards VACCINES)
      </div>
    <div class="card-img">
 <img src="../../assets/10.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lexical Dispersion Plot is a measure of how frequently a word appears across the parts of a corpus. 
        Here, the dispersion focuses on the vaccine related aspects in the discourse.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
        LEXICAL DISPERSION PLOT (Attitude towards COVID-19)
      </div>
    <div class="card-img">
 <img src="../../assets/11.jpeg" style = "width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Lexical Dispersion Plot is a measure of how frequently a word appears across the parts of a corpus. 
        Here, the dispersion focuses on the covid-19 related aspects in the discourse.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
        WORD CLOUD (SPANISH)
      </div>
    <div class="card-img">
 <img src="../../assets/1.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Word Clouds display the most prominent or frequent occuring words in discourse. 
        The font, font-size and style depict the relative frequency of occurrence of each target word
        in the source material.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      WORD CLOUD (ENGLISH)
      </div>
    <div class="card-img">
 <img src="../../assets/2.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Word Clouds display the most prominent or frequent occuring words in discourse.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      WORD CLOUD (SPANISH)
      </div>
    <div class="card-img">
 <img src="../../assets/3.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Word Clouds display the most prominent or frequent occuring words in discourse.
      </p>
    </div>
  </div>
  
  
  <div class="card">
    <div class="card-header">
      WORD CLOUD (ENGLISH)
      </div>
    <div class="card-img">
 <img src="../../assets/4.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Word Clouds display the most prominent or frequent occuring words in discourse.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      WORD CLOUD (ENGLISH)
      </div>
    <div class="card-img">
 <img src="../../assets/5.jpeg" style="width: 500px; height: 500; margin:auto">  
    </div>
    <div class="card-block">
      <p class="card-text">
        Word Clouds display the most prominent or frequent occuring words in discourse.
      </p>
    </div>
  </div>
  
  
  