<div class="card" style="width: auto; height: 1000px;">
    <div class="card-header">
        <h2 style="margin-left: 400px;">TEAM NAME : KAPH</h2>
    </div>
    <div class="card-block" style="width: 100%; height: 80%;">
        <ul>
            <li>
                Paritosh Katre (UBIT : 50366391)
            </li>
            <li>
                Harish Chandrasekaran (UBIT: 50373893)
            </li>
            <li>
                Lakshmi Anoosha Seelam (UBIT: 50388620)
            </li>
            <li>
                Kartik Tomar (UBIT: 50363807)
            </li>
        </ul>
    </div>
</div>
