<div class="card" style="width: auto; height: 1000px;">
    <div class="card-header">
        <h2 style="margin-left: 300px;">INTER-TOPIC MAPS (BERTopic) NEGATIVE</h2>
    </div>
    <div class="card-block" style="width: 100%; height: 80%;">
        <iframe src="./assets/negative_cluster.html" width="60%" height="100%" style="margin-left: 200px;"> </iframe>
        <p class="card-text" style="margin-left: 200px; width: 60%;">        
            BERTTopic uses the contextual embeddings to cluster topics into semnatically similar clusters. 
            This inter-topic distance map portrays the negatively co-axed topic clusters.
        </p>
    </div>
</div>
<div class="card" style="width: auto; height: 1000px;">
    <div class="card-header">
        <h2 style="margin-left: 300px;">INTER-TOPIC MAPS (BERTopic) NEUTRAL</h2>
    </div>
    <div class="card-block" style="width: 100%; height: 80%;">
        <iframe src="./assets/neutral_cluster.html" width="60%" height="100%" style="margin-left: 200px;"> </iframe>
        <p class="card-text" style="margin-left: 200px; width: 60%;">        
            BERTTopic uses the contextual embeddings to cluster topics into semnatically similar clusters. 
            This inter-topic distance map portrays the neutrally co-axed topic clusters.
        </p>
    </div>
</div>
<div class="card" style="width: auto; height: 1000px;">
    <div class="card-header">
        <h2 style="margin-left: 300px;">INTER-TOPIC MAPS (BERTopic) POSITIVE</h2>
    </div>
    <div class="card-block" style="width: 100%; height: 80%;">
        <iframe src="./assets/positive_cluster.html" width="60%" height="100%" style="margin-left: 200px;"> </iframe>
        <p class="card-text" style="margin-left: 200px; width: 60%;">        
            BERTTopic uses the contextual embeddings to cluster topics into semnatically similar clusters. 
            This inter-topic distance map portrays the positively co-axed topic clusters.
        </p>
    </div>
</div>