<div class="main-container">
  <header class="header">
    <h3 style="color:white ; padding-left: 20px;">Information Retrieval Project</h3>
  </header>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
      <a clrVerticalNavLink routerLink="./ranks" routerLinkActive="active">Ranks Page</a>
      <a clrVerticalNavLink routerLink="./topic-cluster" routerLinkActive="active">3D Topic Cluster</a>
      <a clrVerticalNavLink routerLink="./images-grid" routerLinkActive="active">Content-Analysis</a>
      <a clrVerticalNavLink routerLink="./topic-modelling" routerLinkActive="active">Topic Modelling</a>
      <a clrVerticalNavLink routerLink="./topic-modelling-intertopic" routerLinkActive="active">Topic Modelling Intertopic</a>
      <a clrVerticalNavLink routerLink="./topic-charts" routerLinkActive="active">Topic Charts</a>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
      
    </div>
  </div>


</div>