<div class="card" style="width: auto; height: 1000px;">
    <div class="card-header">
        <h2 style="margin-left: 400px;">3D Sentiment Clustering</h2>
    </div>
    <div class="card-block" style="width: 100%; height: 80%;">
        <iframe src="./assets/3d_pca_cluster.html" width="100%" height="100%"> </iframe>
        <p class="card-text">        
            The above scatterplot depicts the vector representations of tweets in an embedding space with the respective sentiments.
            The tweets are classified into 3 classes - [Positive, Negative, and Neutral]
        </p>
    </div>
</div>
