<div class="card" style="width: auto; height: 1000px;">
    <div class="card-header">
        <h2 style="margin-left: 400px;">3D TOPIC CLUSTER</h2>
    </div>
    <div class="card-block" style="width: 100%; height: 80%;">
        <iframe src="./assets/3d_pca_cluster.html" width="100%" height="100%"> </iframe>
        <p class="card-text" style="margin-left: 200px;">        
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
        </p>
    </div>
</div>
